*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("images/quintillizas.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 19vh;
    background-color: #131212;
    align-items: center;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.644);
}

nav > .logo{
    position: relative;
    width: 20%;
    height: 100%;
}

nav > .logo > img{
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid white;
}

nav > .menu{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: fit-content;

}

nav > .menu > a{
    display: inline-block;
    position: relative;
    padding: 10px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

nav > .menu > a:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}


.center{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}


.center > .fr{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    gap:1px;
}

.center > .fr > div{
    position: absolute;
    left: 100%;
    padding-left: 2px;
    padding-right: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.center > .fr >  div > button{
    color: white;
    position: relative;
    background-color: transparent;
    border: none;
    height: 50%;
    font-size: 28px;
    -webkit-text-stroke: 1px black;
}



.center > .fr > div > button:hover{
    cursor: pointer;
}

.center > .sr >  button:hover{
    cursor: pointer;
}



.center > .sr{
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
}

.center > .sr > button{
    position: relative;
    width: 100%;
    background-color: transparent;
    border:none;
}

.center > .sr > button > i{
    font-size: 28px;
    color: white;
    -webkit-text-stroke: 1px black;
}


table{
    position: relative;
    display: inline-block;
    border-collapse: collapse;
    width: fit-content;
}

table > tbody > tr:nth-child(even) > td:nth-child(n+2) >input{
    background-color: #f7cda8;
}

table > tbody > tr > td:nth-child(1) >input{
    background-color: #ff9538;
}

table > tbody > tr > td > input{
    position: relative;
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
}

table > thead > tr > th:nth-child(1){
    background-color: #ff9538;
}

table > thead >tr >th > input{
    border: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ff9538;
    text-align: center;
}

table > tbody > tr > td > input:focus{
    outline: none;
}

table > thead > tr > th > input:focus{
    outline: none;
}

table > thead > tr > th{
    border: 1px solid black; 
    width: 30px;
    height: 30px;
}

table > tbody > tr > td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}


.coste:hover{
    cursor: pointer;
}

.warning{
    position: absolute;
    display: none;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 30vh;
}

.warning > span{
    width: 100%;
    text-align: center;
    height: fit-content;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
}

.aboveNav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 81vh;
    width: 100%;
}

.coste{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    background-color: rgb(94, 123, 250);
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

.answer{
    position: absolute;
    left: 99%;
    transform: translateX(-100%);
    width: 290px;
    height: 60vh;
    max-height: 60vh;
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    border: 1.5px solid black;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.932);
}

.answer > .principal{
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}


.answer > .principal > h3{
    position: relative;
    text-align: center;
    width: 100%;
}

.cantidad{
    position: relative;
    width: 100%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    gap:20px;
    flex-wrap: nowrap;
}

.results{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
}

.result{
    position: relative;
    height: 30px;
    width: 95%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: white;
}

.result > span{
    position: relative;
    width: 100%;
    text-align: center;
}